

.cabecalho {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--cor-principal);
    position: relative;
    
}

.conteiner_cabecalho {

    display: flex;
    color: var(--cor-branco);
    font-style: normal;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.5rem;
    align-items: center;
}

.titulo_header {

    padding-left: 6%;
    font-style: normal;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.5rem;
}

.lista-menu {

    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;

    background-color: var(--cor-principal);
    text-align: center;
    list-style: none;
    padding: 0rem 0rem 2rem 0rem;
    box-shadow: 0px 3px 2px 1px rgba(0, 0, 0, 0.324);
}

.conteiner__botao {

    display: none;
}


.conteiner__botao:checked ~ .lista-menu {

    display: block;

}

.lista-menu > a {
    color: var(--cor-branco);
    text-decoration: none;

}

.lista-menu__item {

padding: 1rem;

}

