.customise-it-to-your-needs {

    background-color: var(--cor-branco);
    width: auto;
    padding: 6.25rem 1rem;
}

.button2_customise-it-to-your-needs {

    display: flex;
    flex-direction: row;
    gap: 0.625rem;
    width: 100%;
    height: 13.41375rem;
    background: var(--cor-secundaria);
    color: var(--cor-branco);
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 167%;
    letter-spacing: -0.02em;
    margin-bottom: 3.75rem;
}

.customise-it-to-your-needs > h4 {

    color: var(--cor-titulos);
    text-align: center;
    font-size: 43px;
    font-weight: 700;
    line-height: 2.75rem;
    letter-spacing: -0.02em;
    height: 8rem;
}

.customise-it-to-your-needs > h4 > span {

    display: inline-flex;
    background-image: url(../img/Mobile/img-customise-it-to-your-needs/Element.png);
    background-repeat: no-repeat;
    background-position-y: 20px;
    background-position-x: 90px;
    height: 5rem;
    width: 230px;

}

.customise-it-to-your-needs > p {

font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 1.1875rem;
line-height: 1.4375rem;
text-align: center;
letter-spacing: -0.02em;
color: var(--cor-titulos);

}

.button1_customise-it-to-your-needs {

    display: flex;
    margin-top: 4rem;
    flex-direction: row;
    margin: 3.7rem auto;
    gap: 0.625rem;
    align-items: center;

    width: 7.5rem;
    padding: 1.25rem 0rem 1.25rem 2.5rem;
    background: #4F9CF9;
    color: var(--cor-branco);
    border-radius: 0.5rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 167%;
    letter-spacing: -0.02em;
    text-decoration: none;
    text-align: center;
}
