.footer {
    background-color: var(--cor-principal);
    width: auto;
    padding: 8.75rem 1rem 1.5rem 1rem;
}

.box-logoetitulo {

    margin: 0rem auto 0rem auto;
    display: flex;
    padding-bottom: 0.9375rem;
    text-align: center;
    align-items: center;
    gap: 10px;
    justify-content: center;


}


.box-logoetitulo > h4 {

    color: var(--cor-branco);
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.75rem;
    letter-spacing: -0.02em;
    gap: 1.875rem;
    


}

.footer > p {

    font-style: normal;
    font-weight: 300;
    font-size: 1.1875rem;
    line-height: 167%;
    text-align: center;
    letter-spacing: -0.02em;
    color: var(--cor-branco);
    flex: none;
    padding-bottom: 0.5rem;

}


.boxlinks1 {
    margin: 4.1875rem auto;
}

.boxlinks2 {

    margin: 4.1875rem auto;

}

.boxlinks3 {

    margin: 4.1875rem auto;

}

.boxlinks1 > a {

    display: block;
    text-decoration: none;
    color: var(--cor-branco);
    list-style: none;
    padding: 0.6875rem;
    margin: 0 auto;
    text-align: center;
}


.boxlinks2 > a {

    display: block;
    text-decoration: none;
    color: var(--cor-branco);
    list-style: none;
    padding: 0.6875rem;
    margin: 0rem auto;
    text-align: center;
    }

.boxlinks3 > a {

    display: block;
    text-decoration: none;
    color: var(--cor-branco);
    list-style: none;
    padding: 0.6875rem;
    margin: 0 auto;
    text-align: center;
    }



.ultimobloco > h4 {

    margin: 0 auto 1.875rem auto;
    text-align: center;
    color: var(--cor-branco);
    font-style: normal;
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 2.25rem;
}

.ultimobloco > p {

margin: 0 auto;
font-style: normal;
font-weight: 400;
font-size: 1.125rem;
line-height: 167%;
width: 12.5625rem;
text-align: center;
letter-spacing: -0.02em;

color:var(--cor-branco);
}

.button1_footer {

    display: flex;
    flex-direction: row;
    margin: 0 auto 0 auto;
    align-items: center;
    width: 8.75rem;
    margin: 1.875rem auto;
    padding: 1.125rem 0rem 1.125rem 2.5rem;
    background: #4F9CF9;
    color: var(--cor-branco);
    border-radius: 0.5rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 167%;
    letter-spacing: -0.02em;
    text-decoration: none;
    text-align: center;

}

.boxlinks4 {

    margin: 0rem auto 0 auto;
    align-items: center ;
    align-content: center;
    justify-content: center;
    justify-items: center;

}

.boxlinks4 > a {

    display: block;
    text-decoration: none;
    color: var(--cor-branco);
    list-style: none;
    padding: 0.75rem;
    margin: 0.3125rem auto;
    text-align: center;
}

hr {

    margin: 0.5rem auto ;
    width: 90%;
}

.hrdesktop {
    
    display: none ;
}

.footerimg {
    display: flex;
    background-color: var(--cor-principal);
    padding: 10px;
    margin: 0 auto;
}
.box-footer {

    display: flex;
    margin: 0 auto;
    gap: 32px;
}

.finalfoot {

    background-color: var(--cor-principal);
    display: block;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    margin: 0 auto;
    padding: 15px;
    align-items: center;
    justify-items: center;
}

@media screen and (min-width: 1152px) {

    .footer {

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: auto;
        height: 300px;
        background-color: var(--cor-principal);
        padding: 4rem 2rem 0rem 2rem;


    }
    
    .box-logoetitulo {
    
        margin: 2.5rem 0rem 0rem 0rem;
        display: flex;
        padding-bottom: 0.9375rem;
        text-align: start;
        align-items: center;
        gap: 10px;
        justify-content: start;
        width: auto;
    
    
    }
    
    
    .box-logoetitulo > h4 {
    
        color: var(--cor-branco);
        text-align: start;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 2.75rem;
        letter-spacing: -0.02em;
        gap: 1.875rem;
        width: auto;
        
    
    
    }
    
    .footer > p {
    
        width: 240px;
        height: 120px;  
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: -0.02em;
        text-align: start;

    
    }
    
    
    .boxlinks1 {
        margin: 3rem  0rem ;
        width: auto;
        text-align: start;

    }
    
    .boxlinks2 {
    
        margin: 3rem  0rem ;
        width: auto;
        text-align: start;

    }
    
    .boxlinks3 {
    
        margin: 3rem  0rem ;
        width: auto;
        text-align: start;

    }
    
    .boxlinks1 > a {
    
        display: block;
        text-decoration: none;
        color: var(--cor-branco);
        list-style: none;
        padding: 0.5500rem;
        margin: 0 auto;
        text-align: start;
        font-weight: 200;

    }
    
    
    .boxlinks2 > a {
    
        display: block;
        text-decoration: none;
        color: var(--cor-branco);
        list-style: none;
        padding: 0.5500rem;
        margin: 0 auto;
        text-align: start;
        font-weight: 200;
        }
    
    .boxlinks3 > a {
    
        display: block;
        text-decoration: none;
        color: var(--cor-branco);
        list-style: none;
        padding: 0.6875rem;
        margin: 0 auto;
        text-align: start;
        }
    
    
    
    .ultimobloco > h4 {
    
        margin: 2.7rem 0 1rem 0;
        width: 255px;
        text-align: start;
        color: var(--cor-branco);
        font-style: normal;
        font-weight: 700;
        font-size: 1.75rem;
        line-height: 2.25rem;
    }
    
    .ultimobloco > p {
    
    margin: 0 0;
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 167%;
    width: 264px;
    text-align: start;
    letter-spacing: -0.02em;
    color:var(--cor-branco);
    }
    .ultimobloco > p > br {

        display: none;
    }
    
    .button1_footer {
    
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 8.75rem;
        margin: 0.875rem 0;
        padding: 1.125rem 0rem 1.125rem 2.5rem;
        background: #4F9CF9;
        color: var(--cor-branco);
        border-radius: 0.5rem;
        font-style: normal;
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 167%;
        letter-spacing: -0.02em;
        text-decoration: none;
        text-align: center;
    
    }
    

    .finalfoot {

        background-color: var(--cor-principal);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: auto;
        margin: 0 auto;
        padding: 15px;
        align-items: center;
        justify-items: center;
    }

    
    .boxlinks4 {
    
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0rem 0rem;
        align-items: flex-start ;
        align-content: center;
        justify-content: space-between;
        justify-items: center;
        width: auto;
        gap: 65px;
    
    }
    
    .boxlinks4 > a {
    
        display: block;
        text-decoration: none;
        color: var(--cor-branco);
        list-style: none;
        padding: 0.75rem;
        margin: 0.3125rem auto 0 auto;
        text-align: center;
    }
    
    .hrmobile {
    
        display: none ;
    }
    
    .hrdesktop {
    
        display: flex ;
    }
    .footerimg {
        display: flex;
        background-color: var(--cor-principal);
        padding: 10px;
    }
    .box-footer {
    
        display: flex;
        position: absolute;
        right: 2rem;
        margin: 0rem auto;
        width: auto;
        gap: 32px;
        justify-content: end;
        align-items: center;
    }


}