.footer {
    background-color: var(--cor-principal);
    width: auto;
    padding: 8.75rem 1rem 1.5rem 1rem;
}

.box-logoetitulo {

    margin: 0rem auto 0rem auto;
    display: flex;
    padding-bottom: 0.9375rem;
    text-align: center;
    align-items: center;
    gap: 10px;
    justify-content: center;


}


.box-logoetitulo > h4 {

    color: var(--cor-branco);
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.75rem;
    letter-spacing: -0.02em;
    gap: 1.875rem;
    


}

.footer > p {

    font-style: normal;
    font-weight: 300;
    font-size: 1.1875rem;
    line-height: 167%;
    text-align: center;
    letter-spacing: -0.02em;
    color: var(--cor-branco);
    flex: none;
    padding-bottom: 0.5rem;

}


.boxlinks1 {
    margin: 4.1875rem auto;
}

.boxlinks2 {

    margin: 4.1875rem auto;

}

.boxlinks3 {

    margin: 4.1875rem auto;

}

.boxlinks1 > a {

    display: block;
    text-decoration: none;
    color: var(--cor-branco);
    list-style: none;
    padding: 0.6875rem;
    margin: 0 auto;
    text-align: center;
}


.boxlinks2 > a {

    display: block;
    text-decoration: none;
    color: var(--cor-branco);
    list-style: none;
    padding: 0.6875rem;
    margin: 0rem auto;
    text-align: center;
    }

.boxlinks3 > a {

    display: block;
    text-decoration: none;
    color: var(--cor-branco);
    list-style: none;
    padding: 0.6875rem;
    margin: 0 auto;
    text-align: center;
    }



.ultimobloco > h4 {

    margin: 0 auto 1.875rem auto;
    text-align: center;
    color: var(--cor-branco);
    font-style: normal;
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 2.25rem;
}

.ultimobloco > p {

margin: 0 auto;
font-style: normal;
font-weight: 400;
font-size: 1.125rem;
line-height: 167%;
width: 12.5625rem;
text-align: center;
letter-spacing: -0.02em;

color:var(--cor-branco);
}

.button1_footer {

    display: flex;
    flex-direction: row;
    margin: 0 auto 0 auto;
    align-items: center;
    width: 8.75rem;
    margin: 1.875rem auto;
    padding: 1.125rem 0rem 1.125rem 2.5rem;
    background: #4F9CF9;
    color: var(--cor-branco);
    border-radius: 0.5rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 167%;
    letter-spacing: -0.02em;
    text-decoration: none;
    text-align: center;

}

.boxlinks4 {

    margin: 4.1875rem auto 0 auto;
    align-items: center ;
    align-content: center;
    justify-content: center;
    justify-items: center;

}

.boxlinks4 > a {

    display: block;
    text-decoration: none;
    color: var(--cor-branco);
    list-style: none;
    padding: 0.75rem;
    margin: 0.3125rem auto;
    text-align: center;
}

hr {

    margin: 0.5rem auto ;
}

.footerimg {
    display: flex;
    background-color: var(--cor-principal);
    padding: 10px;
}
.box-footer {

    display: flex;
    margin: 0 auto;
    gap: 32px;
}
