.get-more-done {

    background-color: var(--cor-principal);
    width: auto;
    padding: 5rem 1rem;
    background-image: url(../img/Mobile/img-get-more-done/Element.png);
    background-size: cover;
    background-position: bottom;
    background-position-y: 270%;
    background-repeat: no-repeat;
}

.get-more-done > h4 {

    color: var(--cor-branco);
    text-align: center;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 2.75rem;
    letter-spacing: -0.02em;
}

.get-more-done > p {

padding-top: 1.5625rem;
font-style: normal;
font-weight: 300;
font-size: 1.13rem;
line-height: 167%;
text-align: center;
letter-spacing: -0.02em;
color: var(--cor-branco);
}

.button_get-more-done {

    display: flex;
    flex-direction: row;
    gap: 0.625rem;
    align-items: center;
    background: #4F9CF9;
    color: var(--cor-branco);
    border-radius: 0.5rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 167%;
    letter-spacing: -0.02em;
    text-decoration: none;
    padding: 1.25rem 0rem 1.25rem 1.25rem;
    width: 11.25rem;
    margin: 5rem auto 5rem auto;
}

.button2_get-more-done {

    display: flex;
    flex-direction: row;
    gap: 0.625rem;
    width: auto;
    max-width: 500px;
    height: 11.9375rem;
    margin: 0 auto;
    background: var(--cor-secundaria);
    color: var(--cor-branco);
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 167%;
    letter-spacing: -0.02em;
}

@media screen and (min-width:1152px) {

    .get-more-done {

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 6.25rem 2rem;
        background-image: url(../img/Desktop/img-get-more-done/Element.png);
        background-size: 100%;
        background-position: 0px;
        background-position-y: 160px;
        background-repeat: no-repeat;
        height: 450px;
    }

    .get-more-done > h4 {

        font-size: 4rem;    
        line-height: 4.8125rem;
        text-align: start;
        width: 50vw;
        padding: 2.9375rem 0rem 1.5rem 0rem;
    }
    
    .get-more-done > p {

        height: 4rem;
        font-weight: 400;
        font-size: 1.1875rem;
        line-height: 30px;
        text-align: start;
        width: 50vw;
        padding-bottom: 50px;
    }

    .button_get-more-done {

        gap: 0.625rem;
        text-align: center;
        justify-content: center;
        font-style: normal;
        padding: 0rem 0rem 0rem 0rem;
        width: 13.6875rem;
        height: 3.9375rem;
        margin: 0rem 0rem 0rem 0rem;
    }

    .button2_get-more-done {

        width: 45vw;
        height: 456.39px;
        margin: 0px 0px;
        max-width: none;
    }
}