.our-sponsors {

    align-items: center;
}

.our-sponsors > h4 {

    height: 3.8rem;
    font-style: normal;
    font-weight: 700;
    font-size: 2.3125rem;
    line-height: 2.75rem;
    text-align: center;
    letter-spacing: -0.02em;
    color:var(--cor-titulos)
}

.our-sponsors > h4 > span {

    background-image: url(../img/Mobile/img-our-sponsors/Element.png);
    background-repeat: no-repeat;
    background-position-y: 35px;
    height: 6rem;
    padding-bottom: 3rem;
    padding-left: 0.5rem;
    padding-right: 1rem;
}

.our-sponsors > img {

    display: block;
    align-items: center;
    margin: 5.8rem auto;
}

@media screen  and (min-width:1152px) {

    .our-sponsors {

        padding: 3.5rem 2rem 0rem 2rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 480px;
    }
        
    .our-sponsors > h4 {
        
        width: 100vw;
        height: 87px;
        font-size: 72px;
        line-height: 87px;
    }
        
    .our-sponsors > h4 > span {
        
        display: inline-flex;
        background-image: url(../img/Desktop/img-work-together/Element.png);
        background-size: 106% 38%;
        background-position-x: 3px;
        background-position-y: 68px;        
        height: 7rem;
        padding-bottom: 0rem;
        padding-left: 0rem;
        padding-right: 0rem;
    }
        
    .our-sponsors > img {
        
        display: flex;
        margin: 0rem auto 5rem auto;
        height: 75px;
    }
    
}