.our-sponsors {

align-items: center;

}


.our-sponsors > h4 {

    height: 3.8rem;
    font-style: normal;
    font-weight: 700;
    font-size: 2.3125rem;
    line-height: 2.75rem;
    text-align: center;
    letter-spacing: -0.02em;
    background-repeat: no-repeat;
    background-size:  67%;
    background-position-y: 106%;
    background-position-x: 105%;
    color:var(--cor-titulos)
}

.our-sponsors > img {

    display: block;
    align-items: center;
    margin: 5.8rem auto;
}