.section3 {

    width: auto;
    background-color: var(--cor-branco);
    padding: 0 1rem;
}

.section3 > h4 {

    padding-top: 4.9375rem;
    height: 4.875rem;
    font-style: normal;
    font-weight: 700;
    font-size: 2.3125rem;
    line-height: 2.75rem;
    text-align: center;
    letter-spacing: -0.02em;
    background-image: url(../img/Mobile/imgsection3/Element.png);
    background-repeat: no-repeat;
    background-size:  61%;
    background-position-y: 76%;
    background-position-x: 109%;
    color:var(--cor-titulos);
}

.section3 > p {

    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 167%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #212529;
}

.button1_section3 {

    display: flex;
    flex-direction: row;
    gap: 0.625rem;
    align-items: center;
    background: #4F9CF9;
    color: var(--cor-branco);
    border-radius: 0.5rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 167%;
    letter-spacing: -0.02em;
    text-decoration: none;
    padding: 1.25rem 0rem 1.25rem 2.5rem;
    width: 9rem;
    margin: 5rem auto 0rem auto;

}

.section3 > img {

display: flex;
margin: 3.75rem auto 0 auto;

}
