.section10 {

    background-color: var(--cor-principal);
    width: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 5rem;
    padding-bottom: 2.5rem;
    background-image: url(../img/Mobile/imgsection10/Element.svg);
    background-repeat: no-repeat;
    
}

.section10 > img {

width: 100%;
margin: 0 auto;
}
.section10 > h4 {

    color: var(--cor-branco);
    text-align: center;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 2.75rem;
    letter-spacing: -0.02em;
    padding-top: 5.8rem;

}

.section10 > p {

font-style: normal;
font-weight: 400;
font-size: 1.1rem;
line-height: 167%;
text-align: center;
letter-spacing: -0.02em;
color: var(--cor-branco);
padding-top: 2rem;
}

.button1_section10 {

    display: flex;
    flex-direction: row;
    margin: 4rem auto 4rem auto;
    gap: 0.625rem;
    align-items: center;

    width: 9.0625rem;
    padding: 1.25rem 0rem 1.25rem 2.5rem;
    background: #4F9CF9;
    color: var(--cor-branco);
    border-radius: 0.5rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 167%;
    letter-spacing: -0.02em;
    text-decoration: none;
    text-align: center;

}

