.section13 {
    background-color: var(--cor-principal);
    width: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: -5px;
}





.box-logoetitulo {

    margin: 0 auto 0 10%;
    display: flex;
    gap: 10px;
    padding-top: 21px;
    padding-bottom: 15px;


}


.box-logoetitulo > h4 {

    color: var(--cor-branco);
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.75rem;
    letter-spacing: -0.02em;


}

.section13 > p {

    font-style: normal;
    font-weight: 300;
    font-size: 19px;
    line-height: 167%;
    text-align: center;
    letter-spacing: -0.02em;
    color: var(--cor-branco);
    flex: none;
    padding-bottom: 2rem;

}


.boxlinks1 {
    margin: 67px auto;
}

.boxlinks2 {

    margin: 67px auto;

}

.boxlinks3 {

    margin: 67px auto;

}

.boxlinks1 > a {

    display: block;
    text-decoration: none;
    color: var(--cor-branco);
    list-style: none;
    padding: 11px;
    margin: 0 auto;
    text-align: center;
}


.boxlinks2 > a {

    display: block;
    text-decoration: none;
    color: var(--cor-branco);
    list-style: none;
    padding: 11px;
    margin: 0px auto;
    text-align: center;
    }

.boxlinks3 > a {

    display: block;
    text-decoration: none;
    color: var(--cor-branco);
    list-style: none;
    padding: 11px;
    margin: 0 auto;
    text-align: center;
    }



.ultimobloco > h4 {

    margin: 0 auto 30px auto;
    text-align: center;
    color: var(--cor-branco);
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
}

.ultimobloco > p {

margin: 0 auto;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 167%;
width: 201px;
text-align: center;
letter-spacing: -0.02em;

color:var(--cor-branco);
}

.button1_section13 {

    display: flex;
    flex-direction: row;
    margin: 0 auto 0 auto;
    align-items: center;
    width: 130px;
    margin: 30px auto;
    padding: 18px 0px 18px 40px;
    background: #4F9CF9;
    color: var(--cor-branco);
    border-radius: 0.5rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 167%;
    letter-spacing: -0.02em;
    text-decoration: none;
    text-align: center;

}

.boxlinks4 {

    margin: 67px auto;
    align-items: center ;
    align-content: center;
    justify-content: center;
    justify-items: center;

}

.boxlinks4 > a {

    display: block;
    text-decoration: none;
    color: var(--cor-branco);
    list-style: none;
    padding: 12px;
    margin: 5px auto;
    text-align: center;
}