@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Montserrat&display=swap');

@import url(cabecalho.css); @import url(get-more-done.css); @import url(project-management.css);
 @import url(work-together.css);
@import url(use-as-extension.css); @import url(customise-it-to-your-needs.css); @import url(choose-your-plan.css); @import url(section7.css);
@import url(section8.css); @import url(section9.css); @import url(section10.css); @import url(section11.css);
@import url(section12.css); @import url(section13.css); @import url(footer.css); @import url(carrossel.css);



:root {

--cor-principal: #043873;
--cor-secundaria: #C4DEFD;
--cor-branco: #ffffff;
--cor-titulos: #212529;
--cor-destaque: #FFE492;
--font-principal: 'Inter';

}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-principal);
}
