
.what-our-clients-says {

    width: auto;
    background-color: var(--cor-branco);
    padding: 5rem 1rem;
    
}

.what-our-clients-says > h4 {

    height: 5rem;
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.75rem;
    text-align: center;
    letter-spacing: -0.02em;

    color:var(--cor-titulos);
    margin: 1.5rem 0;
}

.what-our-clients-says > h4 > span {


    background-image: url(../img/Mobile/img-what-our-clients-says/Element.png);
    background-repeat: no-repeat;
    background-position-y: 15px;
    background-position-x: 25px;
    padding-right: 9px;

}

.box-comentarios {

    height: 28.62625rem;
    margin: 25px auto;
    border-radius: 10px;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.08);  
    padding: 10px 5px 13px 15px;
    width: 255px;
    margin: 3.75rem auto 1rem auto;


}

.box-comentarios > hr {

color: black

}
.comentarios1 {

    margin: 30px auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 125%;
    letter-spacing: -0.02em;
    align-self: stretch;
}

.avatar {

padding: 40px 0px 15px 10px;

}

.nome-avatar {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1.1875rem;
    line-height: 125%;
    letter-spacing: -0.02em;
    align-self: stretch;
    padding-bottom: 0.625rem;
}

.comentarios2 {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1875rem;
    line-height: 167%;
    
    letter-spacing: -0.02em;


}

.swiper-slide2  {

    margin: 0rem auto 2rem auto;
    padding: 0 auto 0rem auto;
    
    }
    
.swiper-button-prev, .swiper-button-next {

    display: none;
}

.swiper-pagination {

--swiper-pagination-bullet-size: 12px;
--swiper-pagination-bullet-inactive-color: #000;
--swiper-pagination-bullet-inactive-opacity: 0.2;


}

        