
.what-our-clients-says {

    width: auto;
    background-color: var(--cor-branco);
    padding: 5rem 1rem;
}

.what-our-clients-says > h4 {

    height: 5rem;
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.75rem;
    text-align: center;
    letter-spacing: -0.02em;
    color:var(--cor-titulos);
    margin: 1.5rem 0;
}

.what-our-clients-says > h4 > span {

    background-image: url(../img/Mobile/img-what-our-clients-says/Element.png);
    background-repeat: no-repeat;
    background-position-y: 15px;
    background-position-x: 25px;
    padding-right: 9px;
}

.box-comentarios {

    height: 28.62625rem;
    margin: 25px auto;
    border-radius: 10px;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.08);  
    padding: 10px 5px 13px 15px;
    width: 255px;
    margin: 3.75rem auto 1rem auto;
    background-color: var(--cor-box);

}

.box-comentarios > hr {

    color: black
}
.comentarios1 {

    margin: 30px auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 125%;
    letter-spacing: -0.02em;
    align-self: stretch;
    color: white;
}

.avatar {

    padding: 40px 0px 15px 10px;
}

.nome-avatar {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1.1875rem;
    line-height: 125%;
    letter-spacing: -0.02em;
    align-self: stretch;
    padding-bottom: 0.625rem;
}

.comentarios2 {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1875rem;
    line-height: 167%;
    letter-spacing: -0.02em;
    color: white;

}

#comentario1 {

    display: none;
    color: white;

}

.linha {

    font-size: 25px;
    margin: 0 auto;
    text-align: center;
    color: white;
}

.swiper-slide2  {

    margin: 0rem auto 2rem auto;
    padding: 0 auto 0rem auto;
}
    
.swiper-button-prev, .swiper-button-next {

    display: none;
}

.swiper-pagination {

--swiper-pagination-bullet-size: 12px;
--swiper-pagination-bullet-inactive-color: #000;
--swiper-pagination-bullet-inactive-opacity: 0.2;
}

#card1 {

    background-color: white;
    color: black
}

#card1 > p  {

    color: black;

}

@media screen and (min-width:1152px) {

    
    .what-our-clients-says {

        height: 780px;
        margin: 1.5rem auto; 
    }
    
    .what-our-clients-says > h4 {
    
        width: auto;
        height: 84px;
        font-family: 'Inter';
        font-size: 70px;
        line-height: 84px;    
        background-image: url(../img/Mobile/img-what-our-clients-says/Element.png);
        background-repeat: no-repeat;
        background-size: 13% 54%;
        background-position-y: 35px;
        background-position-x: 800px;
        padding-right: 9px;
        margin: 3rem auto 2rem  auto;
    }
    
    .what-our-clients-says > h4 > span {
    
        background-image: none;
        background-size: 100% 50%;
        background-position-y: 15px;
        background-position-x: 150px;
        padding-right: 9px;
        width: 800px;
    
    }
    
    .box-comentarios {
    
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 412.46000000000004px;
        padding: 30px 0px 36px 19px;
        width: 420px;
        margin: 2rem auto 0rem auto;
        background-color: var(--cor-box);
    }
    
    
    .linha {

        font-size: 25px;
        margin: 0 auto;
        text-align: center;
        color: white;
    }
    .comentarios1 {
    
        width: 391.67px;
        height: 90px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        line-height: 30px;
        letter-spacing: -0.02em;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        color: white;
    }
    
    
    .conteiner__comentario {
    
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        text-align: start;
        justify-items: center;
        margin: 0 0 0 0;
    }
    
    .avatar {
    
        display: flex;
        padding: 0px 10px 0px 0px;
        width: 95px;
        height: 95px;
        padding: 0 35px 0 0px;
        margin: 0 0;
    }
    
    .nome-avatar {
    
        width: 250px;
        height: 36px;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        padding: 0 0 12px 0;
    }
    
    .comentarios2 {
    
        font-size: 16px;
        padding: 0 0 0 0px;
        width: 290px;
        height: 40px;
        color: white;
    }
    
    #comentario1 {
    
        display: block;
    }
    
    .flexcoment {
        
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 50vw;
    }

    #card1 {

        background-color: white;
        color: black
    }

    #card1 > p  {

        color: black;

    }



    
    
}