.work-together {

    width: auto;
    background-color: var(--cor-branco);
    padding: 0 1rem;
}

.work-together > h4 {

    height: 4.875rem;
    font-style: normal;
    font-weight: 700;
    font-size: 2.3125rem;
    line-height: 2.75rem;
    text-align: center;
    letter-spacing: -0.02em;
    color:var(--cor-titulos);
}

.work-together > h4 > span {

    display: inline-flex;
    background-image: url(../img/Mobile/img-project-management/Element2.png);
    background-repeat: no-repeat;
    background-position-y: 33px;
    background-size: 120%;
    height: 4rem;

}
.work-together > p {

    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 167%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #212529;
}

.button1_work-together {

    display: flex;
    flex-direction: row;
    gap: 0.625rem;
    align-items: center;
    background: #4F9CF9;
    color: var(--cor-branco);
    border-radius: 0.5rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 167%;
    letter-spacing: -0.02em;
    text-decoration: none;
    padding: 1.25rem 0rem 1.25rem 2.5rem;
    width: 9rem;
    margin: 3.75rem auto;

}

.work-together > img {

display: flex;
margin: 5rem auto;

}
