.your-data {

    background-color: var(--cor-branco);
    width: auto;
    padding: 5rem 1rem;

}

.your-data > img {

width: 100%;
margin: 0rem auto 3rem auto;
}
.your-data > h4 {

    color: var(--cor-titulos);
    text-align: center;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 2.75rem;
    letter-spacing: -0.02em;

    height: 4rem;

}

.your-data > h4 > span {

    display: inline-flex;
    background-image: url(../img/Mobile/img-your-data/Element.png);
    background-repeat: no-repeat;
    background-size: 12.5rem;
    background-position-x: -10px;
    background-position-y: 32px;
    height: 5rem;
    padding-right: 20px;
    padding-left: 5px;

}


.your-data > p {

font-style: normal;
font-weight: 400;
font-size: 1.1rem;
line-height: 167%;
text-align: center;
letter-spacing: -0.02em;
color: black;
}

.button1_your-data {

    display: flex;
    flex-direction: row;
    margin: 4.5rem auto 4.5rem auto;
    gap: 0.625rem;
    align-items: center;

    width: 9.0625rem;
    padding: 1.25rem 0rem 1.25rem 2.5rem;
    background: #4F9CF9;
    color: var(--cor-branco);
    border-radius: 0.5rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 167%;
    letter-spacing: -0.02em;
    text-decoration: none;
    text-align: center;

}

.imgdesk-yourdate {

    display: none;
}


@media screen and (min-width:1152px){

    .your-data {

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: var(--cor-branco);
        width: auto;
        height: 520px;
        padding: 5rem 2rem;

        
    }

    .imgdesk-yourdate {
        display: flex;
    }

    .imgmobile-yourdate {
        display: none;
    }
    

    .your-data > h4 {
    
        color: var(--cor-titulos);
        width: 48vw;
        height: 87px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 72px;
        line-height: 87px;
        letter-spacing: -0.02em;
        height: 4rem;
        text-align: start;
        margin: 5rem 0rem 1.5rem 0rem;

    
    }
    
    .your-data > h4 > span {
    
        display: inline-flex;
        background-image: url(../img/Mobile/img-your-data/Element.png);
        background-repeat: no-repeat;
        background-size: 12.5rem;
        background-position-x: -10px;
        background-position-y: 32px;
        height: 0rem;
        padding-right: 20px;
        padding-left: 5px;
    
    }
    
    
    .your-data > p {
    
        width: 48vw;
        height: 90px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: -0.02em;
        color: black;
        text-align: start;
        margin: 1.2rem 0rem 3.75rem 0rem;

    }
    
    .button1_your-data {
    
        display: flex;
        flex-direction: row;
        margin: 0rem 0;
        gap: 0.625rem;
        align-items: center;
    
        width: 9.0625rem;
        padding: 1.25rem 0rem 1.25rem 2.5rem;
        background: #4F9CF9;
        color: var(--cor-branco);
        border-radius: 0.5rem;
        font-style: normal;
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 167%;
        letter-spacing: -0.02em;
        text-decoration: none;
        text-align: center;
    
    }

    .your-data > img {
        width: 51%;
        margin: auto;
        }
    
}