.your-data {

    background-color: var(--cor-branco);
    width: auto;
    padding: 5rem 1rem;

}

.your-data > img {

width: 100%;
margin: 0rem auto 3rem auto;
}
.your-data > h4 {

    color: var(--cor-titulos);
    text-align: center;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 2.75rem;
    letter-spacing: -0.02em;
    background-image: url(../img/Mobile/img-your-data/Vector.svg);
    background-repeat: no-repeat;
    background-size: 67%;
    background-position-x: 113%;
    background-position-y: 104.5%;
    height: 4rem;

}

.your-data > p {

font-style: normal;
font-weight: 400;
font-size: 1.1rem;
line-height: 167%;
text-align: center;
letter-spacing: -0.02em;
color: black;
}

.button1_your-data {

    display: flex;
    flex-direction: row;
    margin: 4.5rem auto 4.5rem auto;
    gap: 0.625rem;
    align-items: center;

    width: 9.0625rem;
    padding: 1.25rem 0rem 1.25rem 2.5rem;
    background: #4F9CF9;
    color: var(--cor-branco);
    border-radius: 0.5rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 167%;
    letter-spacing: -0.02em;
    text-decoration: none;
    text-align: center;

}

